/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgba(239, 239, 239, 0.1);
  border-radius: 99rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(239, 239, 239, 0.5);
  border-radius: 99rem;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(239, 239, 239, 1);
}
